<div *ngIf="!user">
  <h1>MobileDev Timeline Sheet</h1>
  <hr>
  <input type="text" placeholder="Include your toggle ID">
  <button>Access</button>
</div>
<div class="user" *ngIf="user">
  <img class="user-avatar" [src]="user?.image_url" alt="">
  <a href="" class="i">{{user.email}}</a>
  <hr>
  <form class="user-task-form">
    <input [(ngModel)]="description" name="task name" type="text" placeholder="Task name">
    <input type="text" placeholder="Completing time">
    <textarea name="extra description" id="" cols="30" rows="3" placeholder="Extra description"></textarea>
    <label 
      *ngFor="let workspace of user.workspaces"
      [ngClass]="{'selected': selectedWorkSpace == workspace?.id}"
    >
      <input [(ngModel)]="selectedWorkSpace" 
      [value]="workspace?.id" name="workspaces" type="radio">
      {{workspace?.name}}
    </label>
    
    <!-- <h5 *ngFor="let workspace of user.workspaces">{{workspace.name}}</h5> -->
    <button (click)="startTheProject(selectedWorkSpace, description)">Start</button>
  </form>
  <ul>
    <li *ngFor="let item of userWeekReport?.data">
      {{item.dur|date}}

      {{item.description}} <div style="height:10px;width:10px;" [ngStyle]="{'background-color': item?.project_hex_color}"></div>
    </li>
  </ul>
</div>
